<%- include('header'); -%>

<h1>My Writing Journal </h1><br>

<h3 >Morning Routine</h3><br>
<ul>
    <li>6 Am - wake up go for a run</li>
    <li>6.30 Am - stretch/Yoga</li>
    <li>6.45 Am - get dressed and ready</li>
    <li>7 Am - journal entry</li>
</ul>
<h3>Day 1</h3>

<p>today i wake up 9 am ..not to happly about that .it wasn't the great start to the day.but eventhough the first half of the day was awful... <a href="/default">ream more</a></p>

<% newone.forEach(function(ele){ %>
<h1><%= ele.title %></h1>

<p><%=ele.post.substring(0,100)+"..."%>
<a href="/new/<%=ele.title%>">ream more</a></p>
<% }); %>

<%- include('footer'); -%>